/*custom css*/
*{
    margin:0;
    padding:0;
}
body{
    background:#fff;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    padding-top: 120px;
}
.clearfix{
    clear: both;
}
/*for menu*/
.navbar-light .navbar-nav .nav-link:active {
    color: #ED1C24 !important;
}
.logo{
    width: 110px;
}
.bksp_title {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.bg-light {
    background-color: #004720 !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
/*for form*/
#language {
    margin-bottom: 10px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #ED1C24 !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ED1C24 !important;
}
.form_logo{
    float: right;
}
.bksp_form_inner h1{
    color: green;
    font-size: 48px;
}
.bksp_form_inner h3 {
    text-align: center;
    color: red;
    margin-left: 220px;
    margin-top: 38px;
    font-size: 36px;
}
.bksp_form_inner h5 {
    text-align: center;
    margin-left: 220px;
}
.bksp_form {
    background: linear-gradient(to right, green, red, green, red);
    margin: 20px 0;
    padding: 3px;
    border-radius: 5px;
    font-size: 14px;
}
.bksp_form_inner{
    background: #fff;
    padding:10px;
    min-height: 400px;
}
.bksp_form input,textarea::placeholder{
    font-size:14px;
}
textarea{
    resize:none;
}
.picture-box {
    width: 180px;
    height: 200px;
    margin-bottom: 5px;
    padding: 10px;
    color: #ddd;
    text-align: center;
    text-transform: uppercase;
}
.error {
    color:red;
}
.degree_label {
    font-weight: bold;
    font-size: 22px;
}
.degree {
    border: 1px solid #ddd;
    padding: 0 10px;
    margin-bottom: 8px;
    border-radius: 5px;
}
/*for home page*/
/*for Bootstrap Carousel*/
.carousel-inner>.carousel-item {
    -webkit-transition: -webkit-transform 1.2s ease-in-out !important;
    -o-transition: -o-transform 1.2s ease-in-out !important;
    transition: transform 1.2s ease-in-out !important;
}
@-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(1, 1);
    }
    to {
      -webkit-transform: scale(1.5, 1.5);
    }
  }
  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.5, 1.5);
    }
  }
  .carousel-inner .carousel-item > img {
    -moz-animation: zoom 40s;
    -ms-animation: zoom 40s;
    -webkit-animation: zoom 40s;
    -o-animation: zoom 40s;
    animation: zoom 40s;
  }
  /*for home about*/
    .about {
        margin: 150px 0;
    }
    .card-body {
        background-color: #f3f0f0;
    }
    .card-body a {
        text-decoration: none;
        color: #004720;
    }
  .about img{
      width:100%;
  }
  .about h2 {
    color: #004720;
    margin-top: 20px;
    border-bottom: 3px solid #BA0000;
    padding-bottom: 8px;
}
.about p{
    text-align: justify;
    margin-top: 20px;
}
.about button a{
    text-decoration: none;
    color: #28a745 !important;
}
.about button:hover a{
    color: #fff !important;
}
/*for home blog*/
.blog{
    margin: 150px 0;
}
.blog h2{
    color: #004720;
    margin-top: 20px;
    border-bottom: 3px solid #BA0000;
    padding-bottom: 8px;
}
.blog p{
    text-align: justify;
}
.blog img{
    width:100%;
    margin-bottom: 31px;
}
/*for flash button*/
.flash-button {
    background-color: #004720;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 30px 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    text-transform: uppercase;
    margin-top: 300px;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% { background-color: #004720; -webkit-box-shadow: 0 0 3px #004720; }
    50% { background-color: #B20000; -webkit-box-shadow: 0 0 40px #B20000; }
    100% { background-color: #004720; -webkit-box-shadow: 0 0 3px #004720; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #004720; -moz-box-shadow: 0 0 3px #004720; }
    50% { background-color: #B20000; -moz-box-shadow: 0 0 40px #B20000; }
    100% { background-color: #004720; -moz-box-shadow: 0 0 3px #004720; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #004720; box-shadow: 0 0 3px #004720; }
    50% { background-color: #B20000; box-shadow: 0 0 40px #B20000; }
    100% { background-color: #004720; box-shadow: 0 0 3px #004720; }
  }
  
  @keyframes glowing {
    0% { background-color: #004720; box-shadow: 0 0 3px #004720; }
    50% { background-color: #B20000; box-shadow: 0 0 40px #B20000; }
    100% { background-color: #004720; box-shadow: 0 0 3px #004720; }
  }


.games_hilights{
    text-align: center;
}
.games_hilights img{
    width: 280px;
    height: 250px;
}
.highlight_title{
    color: #004720;
    margin-top: 20px;
    border-bottom: 3px solid #BA0000;
    padding-bottom: 8px;
}
.member_list_body {
    width: 100%;
    padding: 10px 0 60px 0;
    background-color: #ddd;
    margin-top: 70px;
}
.member_list{
    width: 100%;
    padding: 50px;
    text-align: center;
}
.member_list h2{
    color: #004720;
    margin-top: 20px;
    padding-bottom: 8px;
    text-align: center;
}
.member_list img{
    width:100px;
    height: 100px;
    padding: 5px;
}
/*about us*/
.about_us img{
    width: 100%;
}
.about_content{
    text-align:justify;
    padding:20px;
}
/*for footer*/
.footer {
    background-color: #004720;
    padding: 50px 18px;
    color: #fff;
}
.back_to_top a {
	background: #ED1C24;
	padding: 20px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
}
.back_to_top i{
    font-size:30px;
}
.social_icon a {
    text-decoration: none;
    color: #fff;
    font-size: 38px;
}
/*for contact*/
.contact_content {
    margin-top: 22px;
    line-height: 30px;
    border: 1px solid #ddd;
    padding: 20px;
}
.gmap {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 22px 0;
}

#image-gallery .modal-footer{
    display: block;
  }
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }
.reg_button{
    text-transform: uppercase;
    font-size:20px;
    margin: 0 auto;
}
.reg_button a {
    text-decoration: none;
    color: #ed1c24;
}
.reg_button:hover a {
    color: #fff !important;
}
/*for gallery*/
.btn_gallery{
    margin-top: 20px;
}
.btn_gallery a {
    color: red;
    text-decoration: none;
}
.btn_gallery:hover a {
    color: #fff;
}
.gallery_head img{
    width: 100%;
}