/*custom css*/
*{
    margin:0;
    padding:0;
}
body{
    background:#fff;
}
/*for menu*/
.logo{
    width: 70px;
}
.bg-light {
    background-color: #004720 !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
/*for form*/
.form_logo{
    float: right;
}
.bksp_form_inner h1{
    color: green;
    font-size: 48px;
}
.bksp_form_inner h3 {
    text-align: center;
    color: red;
    /* margin-left: 220px; */
    margin-top: 38px;
    font-size: 36px;
}
.bksp_form_inner h5 {
    text-align: center;
    /* margin-left: 220px; */
}
.bksp_form {
    background: linear-gradient(to right, green, red, green, red);
    margin-top: 5px;
    padding: 3px;
    border-radius: 5px;
    font-size: 14px;
}
.bksp_form_inner{
    background: #fff;
    padding:10px;
}
.bksp_form input,textarea::placeholder{
    font-size:14px;
}
textarea{
    resize:none;
}
.picture-box {
    width: 180px;
    height: 200px;
    margin-bottom: 5px;
    padding: 10px;
    color: #ddd;
    text-align: center;
    text-transform: uppercase;
}